.img-size{
    width: 100px;
    height: 55px;
}
.bg-color{
    background-color: rgb(212, 245, 242);
    border-radius: 5px;
}
.carousel-item{
    padding: 25px 40px;
}
.container{
    margin-bottom:20px;
}
.row{
    margin-bottom: 20px;
}
h2{
    text-align: center;
}
